@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(3, 14, 23);
    color: white;
}

header {
    padding: 1.5% 5%;
    color: white;
    background-color: rgb(0, 19, 33);
    box-shadow: 0px 0px 10px rgb(0, 10, 17);
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    margin-top: 2rem;
}

h1 {
    margin: 0;
}

main {
    padding: 1.5rem 5rem;
}

#choose {
    display: flex;
    justify-content: space-between;
}

#select-filter {
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #008bb1;
    box-shadow: 0px 0px 15px #009ac4;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

#poster {
    border-radius: 7px;
    height: 25rem;
}

#card {
    background-color: rgb(0, 19, 33);
    box-shadow: 0px 0px 10px rgb(56, 142, 203);
    border-radius: 7px;
    height: 33rem;
}
#card:hover {
    box-shadow: 0px 0px 25px rgb(56, 142, 203);
    cursor: pointer;
}

#review {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



@media screen and (max-width: 450px) {
    main {
        padding: 2rem;
    }

    #choose {
        flex-direction: column;
    }
    #select-filter {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 50px;
    }

    #wrapper {
        grid-template-columns: 1fr;
    }

    #card {
        background-color: rgb(0, 19, 33);
        box-shadow: 0px 0px 10px rgb(56, 142, 203);
        border-radius: 7px;
        height: 40rem;
        width: 22rem;
    }

    #poster {
        height: 34rem;
    }
}