#informations {
    margin: 1rem;
}
#informations #date {
    margin-top: 0.5rem;
}

#vote {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    float: right;
}